PLAYERS_FILE=players-week-1-LVC.js
OUTPUT_FILE=output-week-1-LVC.csv

# leave blank for all events or use keywords in the PDGA title to target one event
SPECIFIC_EVENT_NAME=DGPT - Las Vegas Challenge presented by Innova
PRIOR_EVENT_NAME=DGPT - Las Vegas Challenge presented by Innova
